@model DeclarationDeVol.Models.Declaration

@{
    ViewBag.Title = "Delete";
}

<h4 class="text-primary fw-bold">Suppression du déclarant</h4>
<h4 class="text-danger">Voulez-vous vraiment supprimer ce déclarant?</h4>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-12">
                <div class="card">
                    <div class="card-body mt-5">
                        <div class="row">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input type="submit" class="btn btn-danger" value="Supprimer" />
                                            </div>
                                            <div class="col-md-6">
                                                <div class="pull-right">
                                                    @Html.ActionLink("Allez à la liste", "Index", null, new { @class = "btn btn-primary" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
